.header-logo {
    font-size: xx-large;
    color: #14a13c;
    font-weight: bold;
    margin: 0;
    position: absolute;
    /* transform: translate(0, 20%); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-badge {
    font-size: 0.75rem !important;
    min-width: 1rem !important;
    height: 1rem !important;
    line-height: 1rem !important;
}